<!DOCTYPE html>
<html>
   <head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <title>IT黑名单</title>
      <meta name="keywords" content="黑名单,名单,黑公司,公司,IT黑公司,IT公司,职场黑公司" />
	  <meta name="description" content="爆料黑公司，后来人谨慎入坑。IT黑名单，BLACKLIST.CN" />
      
      <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
	  <link href="css/bootstrap.min.css" rel="stylesheet">
	  <link rel="stylesheet" type="text/css" href="css/bootstrap-select.css">
	  <link rel="stylesheet" type="text/css" href="css/bootstrap-markdown.min.css">
	  
	  <script src="js/jquery.min.js"></script>
	  <script src="js/bootstrap.min.js"></script>
	  <script src="js/bootstrap-select.js"></script>
	  <script src="js/markdown.js"></script>
	  <script src="js/bootstrap-markdown.js"></script>
	  <script src="js/to-markdown.js"></script>
	  <script src="js/city.js"></script>
	  <script src="js/angular.min.js"></script>
	  <script type="text/javascript" src="http://pv.sohu.com/cityjson?ie=utf-8"></script>
	  <!-- var returnCitySN = {"cip": "183.6.154.130", "cid": "440100", "cname": "广东省广州市"}; -->
	  <script type="text/javascript">
	$(window).on('load', function () {
		$('.selectpicker').selectpicker({'selectedText': 'cat'});
    });
  </script>
  <script src="js/baidutj.js"></script>
   </head>
   <body class=""><h1></h1>
	<div class="jumbotron container">
		<div class="form-group">
			<a href="/"><h2><span class="col-sm-6 glyphicon glyphicon-home"></span></h2></a>
			<span class="col-sm-6 text-right" id="sApp" ng-app="sApp" ng-controller="sCtrl">
				<form class="form-inline">
					<input type="text" ng-model="name" placeholder="公司名" class="form-control">
					<button class="btn btn-default" ng-click="submit()" type="button">
						Search!
					</button>
				</form>
			</span>
		</div>
		<br/>
		<div id="contentApp" ng-app="contentApp" ng-controller="contentCtrl">
			<h3 class="">{{topic.sketch}}——{{topic.company}}</h3>
			<div class="ng-binding" ng-bind-html="topic.intro|to_trusted"></div>
		</div>
	</div>
	
	<div class="container">
	</div>
	<div id="commentApp" ng-app="commentApp" ng-controller="commentCtrl" class="jumbotron container">
		<table class="table table-striped">
			<tr ng-repeat="r in list"><td>
				<code>{{r.citySN}}网友--{{r.time|date:'yyyy-MM-dd HH:mm:ss'}}</code><br/>
				<div class="ng-binding" ng-bind-html="r.intro|to_trusted"></div>
				
				<span style="cursor:pointer;" ng-click="up(r.id)" class="glyphicon glyphicon-thumbs-up"></span>({{r.upNum}})
				<span style="cursor:pointer;" ng-click="down(r.id)" class="glyphicon glyphicon-thumbs-down"></span>({{r.downNum}})
			</td></tr>
		</table>
		<textarea class="bt-md" data-provide="markdown" rows="10"></textarea>
		<button type="button" ng-click="submit()" class="btn btn-primary">提交</button>
	</div>
	
	<div class="modal fade" id="msgModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			 <div class="modal-content">
				<div class="modal-body">success!</div>
			</div>
		</div>
	</div>
	
	<div class="container">
		<div class="container text-center">
			© Copyright 2016 IT黑名单 Inc.All Rights Reserved. <a href="http://www.miitbeian.gov.cn">豫ICP备15018592号-2</a>
		</div>
	</div>
	<script>
	function getURLParameter(name) {
		return decodeURIComponent((new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.search)||[,""])[1].replace(/\+/g, '%20'))||null;
	}
	</script>
	<script src="js/details.js"></script>
	<script>
		var sApp = angular.module('sApp',[]);
		sApp.controller('sCtrl', function($scope){
			$scope.submit = function() {
				window.location.href=encodeURI('/list.html?kw='+$scope.name);
			}
		});
		var contentApp = angular.module('contentApp',[]);
		contentApp.controller('contentCtrl', function($scope, $http){
			$scope.t = getURLParameter('t');
			$scope.topic = {};
			$http({
				method:'post',
				url:'/topic/details',
				data:{'tsno':new Date().getMilliseconds(),'id':$scope.t},
				headers:{'Content-Type':'application/x-www-form-urlencoded; charset=UTF-8'},
				transformRequest:function(data){return $.param(data);}
			}).success(function(data){
				console.log(data);
				if("100"==data.code) {
					$scope.topic = data.response;
				}
			});
		}).filter(  
			    'to_trusted', ['$sce', function ($sce) {  
			        return function (text) {  
			            return $sce.trustAsHtml(text);  
			        }  
			    }]  
			)  ;
		var commentApp = angular.module('commentApp',[]);
		commentApp.controller('commentCtrl',function($scope, $http){
			$scope.t = getURLParameter('t');
			$scope.list = [];
			$http({
				method:'post',
				url:'/topic/comments',
				data:{'tsno':new Date().getMilliseconds(),'id':$scope.t},
				headers:{'Content-Type':'application/x-www-form-urlencoded; charset=UTF-8'},
				transformRequest:function(data){return $.param(data);}
			}).success(function(data){
				if("100"==data.code) {
					var res = data.response;
					for(var i=0;i<res.length;i++) {
						var comment = {};
						comment.id = res[i].id;
						comment.citySN = res[i].citySN;
						comment.time = res[i].time;
						comment.intro = res[i].intro;
						comment.upNum = res[i].upNum;
						comment.downNum = res[i].downNum;
						$scope.list[i] = comment;
					}
				}
			});
			$scope.submit = function(){
				var message = $('.bt-md').data('markdown').parseContent();
				$http({
					method:'post',
					url:'/topic/reply',
					data:{'tsno':new Date().getMilliseconds(),'topicId':$scope.t,'ip':returnCitySN.cip,
							'citySN':returnCitySN.cname,'intro':message},
					headers:{'Content-Type':'application/x-www-form-urlencoded; charset=UTF-8'},
					transformRequest:function(data){return $.param(data);}
				}).success(function(data){
					console.log(data);
					if("100"==data.code) {
						$("#msgModal").modal();
					} else {
					}
				});
			}
			$scope.up = function(t) {
				up(t);
				for(var i=0;i<$scope.list.length;i++){
					if(t==$scope.list[i].id) {
						$scope.list[i].upNum += 1;
						break;
					}
				}
			}
			$scope.down = function(t) {
				down(t);
				for(var i=0;i<$scope.list.length;i++){
					if(t==$scope.list[i].id) {
						$scope.list[i].downNum += 1;
						break;
					}
				}
			}
		}).filter(
			'to_trusted', ['$sce', function ($sce) {
				return function(text){
					return $sce.trustAsHtml(text);
				}
			}]
		);
		angular.bootstrap(document.getElementById("sApp"), ['sApp']);
		angular.bootstrap(document.getElementById("contentApp"), ['contentApp']);
		angular.bootstrap(document.getElementById("commentApp"), ['commentApp']);
	</script>
</body>
</html>