<!DOCTYPE html>
<html ng-app="myApp" ng-controller="myCtrl as vm">
   <head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <title>IT黑名单</title>
      <meta name="fragment" content="!">
      <meta name="keywords" content="IT黑名单,黑名单,培训机构黑名单,公司黑名单,企业黑名单,北京,上海,广州,深圳,成都，大连" />
	  <meta name="description" content="要问公司怎么样，就查IT黑名单！前人爆料，后人弃坑。维护劳动者权益，发现人与企业关系，打造求职通讯录.IT黑名单，BLACKLIST.CN" />

	  <link rel="icon" type="image/x-icon" href="/favicon.ico">
	  <link href="css/bootstrap.min.css" rel="stylesheet">
	  <style type="text/css">
	  	.roll_txt{text-align:left;white-space:nowrap; display:block;}
	  </style>
	  
	  <script src="/js/jquery.min.js"></script>
	  <script src="/js/bootstrap.min.js"></script>
	  <script src="/js/angular.min.js"></script>
	  <script src="/js/city.js"></script>
	  <script src="/js/baidutj.js"></script>
   </head>
   <body class="" style="background:#f6f6f6;">
   <div ng-include="'/top.html'"></div>
	
	<div class="container text-center">
		<h2>Bad luck, U come here.</h2>
		<div class="row center-block">
			<div class="row col-lg-6 col-lg-offset-3">
				<div class="navbar-text">
					<div class="input-group">
					   <input id="search" type="text" ng-model="name" placeholder="search like:xx科技有限公司" class="col-lg-4 form-control">
					   <span class="input-group-btn">
						  <button class="btn btn-default" type="button" ng-click="search('title')">
							 Search
						  </button>
						  <button class="btn btn-default" type="button" ng-click="search('city')">
							 Search City
						  </button>
					   </span>
					</div><!-- /input-group -->
				</div>
			</div><!-- /.row -->
		</div>
		
		
		<div class="text-left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码农小工具</div>
		<div ng-include="'/dateFormat.html'"></div>
		<div ng-include="'/footer.html'"></div>
		<ng-include src="'/modal.html'"></ng-include>
	</div>
	
	<script src="/js/app/indexApp.js"></script>
</body>
</html>