<!DOCTYPE html>
<html ng-app="myApp" ng-controller="myCtrl as vm">
   <head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <title>IT黑名单</title>
      <meta name="fragment" content="!">
      <meta name="keywords" content="IT黑名单,培训机构,无良公司,黑名单,北京,上海,广州,深圳,成都,大连,武汉" />
	  <meta name="description" content="要问公司怎么样，就查IT黑名单！前人爆料，后人弃坑。维护劳动者权益，发现人与企业关系，打造求职通讯录.IT黑名单，BLACKLIST.CN" />

	  <link rel="icon" type="image/x-icon" href="/favicon.ico">
	  <link href="css/bootstrap.min.css" rel="stylesheet">
	  <style type="text/css">
	  	.roll_txt{text-align:left;white-space:nowrap; display:block;}
	  	.list_txt{font-size:18px;color:#999999;}
	  	.hot_txt{font-size:18px;}
	  </style>
	  
	  <script src="/js/jquery.min.js"></script>
	  <script src="/js/bootstrap.min.js"></script>
	  <script src="/js/angular.min.js"></script>
	  <script src="/js/city.js"></script>
	  <script src="/js/baidutj.js"></script>
	  <!-- 
	  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<script>
	  (adsbygoogle = window.adsbygoogle || []).push({
	    google_ad_client: "ca-pub-8781284468242009",
	    enable_page_level_ads: true
	  });
	</script>
	 -->
   </head>
   <body class="">
   <div ng-include="'/top.html'"></div>
   	
	<div class="container">
		<div class="form-group">
			
			<span class="col-sm-12 text-right">
				<form class="form-inline">
					<input type="text" ng-model="name" placeholder="公司名" class="form-control">
					<button class="btn btn-default" ng-click="search()" type="button">
						Search!
					</button>
				</form>
			</span>
		</div>
		
		<h3 class="text-center">关于{{kw}}的公司</h3>
		<div class="row">
			<div class="col-sm-9">
				<p class="" ng-repeat="r in list" style="text-indent:2em;">
					<span class="col-sm-2"></span>
					<a class="list_txt" href="javascript:void(0);" ng-click="details(r.ref)">
						○ {{r.sketch}}——{{r.company}}
					</a>
				</p>
				<div ng-if="list.length<1">
					<p class="list_txt">
						暂无{{kw}}的数据，提交请点击<a href="#" data-toggle="modal" data-target="#myModal">这里</a>
					</p>
				</div>
			</div>
			<div class="col-sm-3">
				<h3 class="text-center">热门爆料</h3>
				<p ng-repeat="h in hot">
					<a class="hot_txt" title="{{h.city}}{{h.company}}-{{h.sketch}}" href="javascript:void(0);" ng-click="details(h.ref)">
						{{h.sketch}} ({{h.accessNum}})
					</a>
				</p>
			</div>
		</div>
	</div>
	
	<div ng-include="'/footer.html'"></div>
	<ng-include src="'/modal.html'"></ng-include>
	
	<script src="/js/app/listApp.js"></script>
</body>
</html>